:host {
    display: grid;
    grid-template-columns: 50% 50%;
}
.userRolls {
    display: grid;
    grid-template-rows: min-content auto;
    padding: 0 10px;
    h2 {
        color: #5e5e5e;
    }
    .list {
        overflow-y: auto;
        .app {
            padding: 10px;
            border-radius: 5px;
            // box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.17);
            margin-bottom: 15px;
            .title {
                margin: 0;
                color: white;
                text-transform: uppercase;
                font-size: 0.85em;
                font-weight: bold;
                letter-spacing: 0.04em;
                user-select: none;
            }
            .rolls {
                padding-top: 10px;
                label {
                    background-color: white;
                    padding: 1px 9px;
                    border-radius: 50px;
                    font-size: 0.9em;
                    margin: 3px;
                    user-select: none;
                    position: relative;
                    cursor: pointer;
                    .remove {
                        margin-left: 5px;
                        background-color: #848484;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        font-size: 0.7em;
                        color: rgba(255, 255, 255, 0.86);
                        padding-bottom: 2px;
                    }
                }
            }
        }
    }
}
.appsRolls {
    display: grid;
    grid-template-rows: min-content auto min-content;
    padding: 0 10px;
    h2 {
        color: #5e5e5e;
    }
    .list {
        overflow-y: auto;
        .app {
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 15px;
            user-select: none;
            cursor: pointer;
            p {
                margin: 0;
            }
            .title {
                color: white;
                text-transform: uppercase;
                font-size: 0.85em;
                font-weight: bold;
                letter-spacing: 0.04em;
                user-select: none;
                margin-bottom: 10px;
                // padding-left: 4px;
            }
            .code {
                // background-color: white;
                // padding: 3px 10px;
                // border-radius: 50px;
                color: white;
                span {
                    font-size: 0.8em;
                    font-weight: 900;
                    letter-spacing: 0.05em;
                }
            }
        }
    }
    .wrapAppRolls {
        // padding: 20px;
        display: grid;
        grid-template-rows: min-content auto;
        .back {
            padding-left: 10px;
            padding: 0 10px;
            cursor: pointer;
            .arrow {
                border-width: 0 10px 10px 0;
                padding: 10px;
                border-color: white;
            }
        }
        .info {
            padding: 15px;
            color: white;
            border-radius: 4px;
            display: grid;
            grid-template-columns: min-content auto;
            user-select: none;
            .name {
                font-size: 1.1em;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0;
            }
            .code {
                margin-bottom: 0;
                span {
                    margin-right: 5px;
                    font-weight: bold;
                }
            }
        }
        .listRolls {
            padding: 15px 0;
            .roll {
                border-bottom-style: solid;
                border-width: 1px;
                border-color: #e7e7e7;
                height: 35px;
                display: flex;
                align-items: center;
                cursor: pointer;
                user-select: none;
                padding: 0 10px;
                &:hover {
                    background: #dddddd;
                }
            }
        }
    }
    .page_roll {
        padding: 0 20px;
    }
}
